@model UpdateUserViewModel
<form asp-controller="Users" asp-action="Update" method="post">
    <div class="modal-body">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="detailPage" name="detailPage" value="false" />
        <div class="form-group">
            <div class="controls">
                <label asp-for="Firstname"></label>
                <input asp-for="Firstname" type="text" placeholder="نام" class="form-control text-left">
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Lastname"></label>
                <input asp-for="Lastname" type="text" placeholder="نام خانوادگی" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" type="text" dir="ltr" placeholder="exmaple : ravil" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="PasswordHash">کلمه عبور (درصورتی که قصد تغییر ندارید این فیلد را پر نکنید)</label>
                <input asp-for="PasswordHash" type="password" dir="ltr" placeholder="password" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="NationalCode"></label>
                <input asp-for="NationalCode" dir="ltr" placeholder="0071146361" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" dir="ltr" placeholder="0912xxxxxxx" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Email"></label>
                <input asp-for="Email" dir="ltr" placeholder="example@gmail.com" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="1">خانم</option>
                    <option value="0" >آقا</option>
                    <option value="2">بدون تعیین جنسیت</option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">بستن</span>
        </button>
        <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">تایید</span>
        </button>
    </div>
</form>