@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModels.Faq.UpdateFaqCategoryViewModel
<form asp-controller="Faq" asp-action="UpdateFaqCategories" method="post">
    <div class="modal-body">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="controls">
                <label asp-for="ParentId"></label>
                <fieldset class="form-group">
                    <select asp-items="Model.FaqCategories" id="ParentId" name="ParentId" class="form-control">
                        <option disabled value="0">@Model.ParentName</option>
                    </select>
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Title"></label>
                <input asp-for="Title" type="text" class="form-control text-left">
                <div class="help-block">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Sort"></label>
                <input asp-for="Sort" type="text" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="Sort" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">بستن</span>
        </button>
        <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">تایید</span>
        </button>
    </div>
</form>