@using Domain.Entities.Blog
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModels.AdminPanel.Cms.Blog.CreateBlogCategoryViewModel
@{
    ViewData["Title"] = "ثبت دسته جدید";
    ViewData["selected"] = "BlogCategories_Create";

    var categories = ViewData["categories"] as List<BlogCategory>;
}

<section>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2">
                    <li class="nav-item current">
                        <a class="nav-link d-flex align-items-center active">
                            <i class='bx bx-task'></i><span class="d-none d-sm-block">دسته</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="post" enctype="multipart/form-data">

                            <div class="card-title-details d-flex align-items-center mb-1 ml-1">
                                <div>
                                    <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                        <img id="selected-picture" class="img-fluid" src="@Paths.DefaultsImagePath/PlaceHolder.svg" height="100" width="100">
                                    </div>
                                    <div class="mt-n25">
                                        <h5>تصویر انتخاب شده</h5>
                                        <p class="text-info">راهنمای سایز : width = 700 , height = 600 </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-12 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input asp-for="IconPictureFile" type="file" class="custom-file-input" accept="@MimeTypes.Images">
                                                <label class="custom-file-label">انتخاب تصویر</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="help-block">
                                        <span asp-validation-for="IconPictureFile" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label> دسته والد </label>
                                            <fieldset class="form-group">
                                                <select asp-for="ParentId" class="form-control">
                                                    <option value="0" selected="selected">انتخاب به عنوان دسته اصلی</option>
                                                    @if (categories != null && categories.Count > 0)
                                                    {
                                                        @foreach (var item in categories)
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="null">دسته ای یافت نشد!</option>
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="Title"></label>
                                            <input asp-for="Title" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
@* 
                                <div class="col-12 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="Slug"></label>
                                            <input asp-for="Slug" type="text" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Slug" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
 *@
                                <div class="col-12 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="Sort"></label>
                                            <input asp-for="Sort" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Sort" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input asp-for="IsActive" type="checkbox" class="checkbox-input">
                                            <label asp-for="IsActive"></label>
                                            <div class="help-block">
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                    <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
                                    <button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#selected-picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#IconPictureFile").change(function () {
            readURL(this);
        });
    </script>
}